*{  margin: 0;
    padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
body{width: 100%;}
#top{width: 80px;
height: 180px;
display: inline-block;
background: #000;
position: fixed;
top: 200px;
left: 1300px;
z-index: 9999;
display: none;}
#top img{margin-left: 8px;margin-top: 10px;}    
.top{width: 100%;
    height: 45px;
    background: #E0E0E0;
    /* border: 1px solid #000; */}
.clock{display: block;
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 12px;
        margin-left: 80px;}
        /* border: 1px solid #000; */
.time{color:#757575;
    font-size: 12px;
    display: block;
    width: 135px;
    height: 15px;
    float: left;
    margin-top: 15px;
    }
    /* border: 1px solid #000; */
.title{color:#757575;
       font-size: 12px;
       display: block;
       width: 135px;
       height: 15px;
       float: left;
       margin-top: 15px;
       margin-left:  25px;}
    /* border: 1px solid #000; */
.search{display: block;
        width: 25px;
        height: 25px;
        float: left;
        margin-left: 760px;
        margin-top: 10px;}
        /* border: 1px solid #000; */
.login{display: block;
        width: 25px;
        height: 25px;
        float: left;
        margin-left: 25px;
        margin-top: 10px;}
        /* border: 1px solid #000;} */
.cart{display: block;
        width: 25px;
        height: 25px;
        float: left;
        margin-left: 25px;
        margin-top: 10px;}
        /* border: 1px solid #000;}     */
    


header{width: 100%;
       height: 180px;
       background-image: url(../images/background.jpg);}
header .logo img{width: 94px;
                height: 94px;
                margin-left: 630px;
                margin-top: 20px;
                }
header .menu{width: 100%;
             height: 50px;
            } 
            /* margin-top: 10px; */
             /* border: 1px solid #000; */
header .menu ul{width: 55%;
                height: 20px;
                margin-left: 360px;
                margin-top: 20px;}
                /* border: 1px solid #000; */
header .menu ul li{width: 70px;
                   float: left;
                   margin-right: 70px;}
                   /* border: 1px solid #000; */
header .menu ul li a{color: #707070; 
                     font-size: 14px;}
.JQ{background: #fff;z-index: 999;}



section#banner{width: 100%;height: 500px;}
section#banner div{width: 100%;height: 100%;}
section#banner div img{width: 100%;height: 100%;}

section#leftleft{width: 830px;height: 510px;float: left; }

section#address{width: 300px;height: 40px;margin-top: 100px;margin-left: 80px;}
section#address div{width: 100%;height: 50%; color: #707070;font-size: 0.9em;}
section#relation{width: 190px;height: 20px;margin-top: 50px;margin-left: 80px;}
section#relation div{width: 100%;height: 100%; color: #707070;font-size: 0.9em;}

form{width: 750px;height: 300px;margin-left: 80px;margin-top: 12px;}
form input{width: 365px;height: 45px;border: none; background: #F2F2F2;}
form input:nth-child(2){margin-left: 10px;}
form input:nth-child(3){width: 745px;margin-top: 12px;}
form textarea:nth-child(4){width: 745px;height: 90px;margin-top: 30px;border: none;background: #F2F2F2;}
form input:nth-child(5){width: 120px;height: 35px;margin-left: 300px;margin-top: 20px; background: #333333;color: #fff;}


section#coordinate{width: 290px;height: 570px;margin-left: 950px;}
section#coordinate div{width: 100%;height: 100%;}
section#coordinate div span{display: block;}
section#coordinate div span:nth-child(1){width: 75px;height: 25px;color: #717171;margin-left: 107px;margin-top: 50px;font-size: 1.1em;}
section#coordinate div span:nth-child(2){width: 95px;height: 20px;color: #8B8B8B; margin-left: 98px;margin-top: 10px;font-size: 0.9em;}
section#coordinate div span:nth-child(3){position: relative;top: 0px;left: 0px; margin-left: 130px;margin-top: 10px;}
section#coordinate div iframe{width: 100%;height: 380px;}



footer{width: 100%;height: 800px;margin-top: 2%;border: none; background: #F7F7F7;}
footer section{width: 100%;height: 800px;}
footer section .bot{width: 200px;height: 140px;float: left;margin-top: 90px;margin-left: 110px; border: none;}
footer section .bot ul{width: 100%;height: 100%;margin: 0;}
footer section .bot ul li{width: 100%;height: 30%;text-align: center;letter-spacing: 4px;margin: 0;}
footer section .bot ul li:nth-child(2){width: 100%;height: 70%;color: #BBBBBB;font-size: 0.8em;margin: 0;}
footer section .bot #botlogo{width: 70%;height: 100%;display: block;margin-left: 20px;}
footer section .bot ul li .botonline{width: 45px;height: 45px;}
footer section span{color: #BBBBBB;font-size: 0.8em;display: block;width: 400px;height: 20px;margin-left: 470px;margin-top: 80px; }